{% extends 'registration/base.html' %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-6">

    </div>
    <div class="col-md-6" style="border">
      <h2>Sign up</h2>
    <form method="post" action="">
      {% csrf_token %}
      Username:<br>
      {{ form.username}}<br><br>
      Email:<br>
      {{ form.email}}<br><br>
      Password:<br>
      {{ form.password1}}<br><br>

      <button type="submit">Sign up</button>
    </form>
    </div>
  </div>
</div>

{% endblock %}